#server-list .side {
	padding: 3px 0 0 0;
}

#server-list .desc {
	padding: 0 10px 0 0;
}

#server-list .sub {
	margin-left: 15px;
	padding: 3px 0 0 0;
	border-bottom: 1px solid;
}

#server-list .status {
	float: right;
	padding: 0;
}